@use "../base/variables" as v;

.menu__seccion {
  background-color: v.$primario;
  padding: 15rem 5rem 20rem 5rem;

  .menu__heading {
    font-family: v.$fuente_principal;
    text-transform: uppercase;
    text-align: center;
    color: v.$blanco;
    span {
      font-size: 2rem;
      display: block;
    }
  }
}

.menu__seccion__2 {
  background-color: v.$blanco;
  padding: 10rem;
  margin-top: -10rem;
  position: relative;

  .menu__grid2 {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    img {
      object-fit: cover;
    }
  }
}
