@use "../base/variables" as v;
@use "../base/mixins" as m;

.experiencias {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include m.telefono {
      grid-template-columns: 1fr;
    }
  }

  img {
    border-radius: 2rem;
  }

  &__label {
    font-weight: 700;
  }
}
