@use "../base/variables" as v;
@use "../base/mixins" as m;

.populares {
  margin-top: 5rem;

  &__grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;

    @include m.telefono {
      grid-template-columns: 1fr;
    }

    @include m.tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__elemento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  &__informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
