@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 3rem 0 20rem 0;

  @include m.telefono {
    padding: 3rem 0 10rem 0;
  }

  &__barra {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.telefono {
      display: none;
    }
  }

  &__nombre {
    color: v.$blanco;
  }

  &__navegacion {
    display: flex;
    gap: 5rem;
  }

  &__link {
    color: v.$blanco;
  }

  &__busqueda {
    margin-top: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include m.telefono {
      margin-top: 7rem;
    }
  }

  &__boton {
    background-color: v.$blanco;
    color: v.$primario;
    padding: 2rem 4rem;
    font-weight: 700;
    border-radius: 4rem;

    @include m.telefono {
      width: 100%;
      padding: 2rem 0;
      text-align: center;
    }
  }
}
