@use "../base/variables" as v;
@use "../base/mixins" as m;

.header {
  padding: 5rem 0;
  position: relative;

  &::before {
    content: "";
    background-color: v.$negro;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
  }

  .header__contenido {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10rem;

    @include m.telefono {
      gap: 3rem;
    }
  }

  .header__barra {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.telefono {
      display: flex;
      flex-direction: column;
    }

    .header__logo {
      width: 20rem;
    }

    .header__navegacion {
      display: flex;
      gap: 2rem;
      @include m.telefono {
        flex-direction: column;
        text-align: center;
      }
    }

    .header__link {
      color: v.$blanco;
      text-transform: uppercase;
      font-weight: 900;

      &:hover {
        color: v.$secundario;
      }
    }
  }

  .activo {
    text-transform: uppercase;
    font-weight: 900;
    color: v.$secundario;
  }

  .header__heading {
    color: v.$blanco;
    text-transform: uppercase;
    text-align: center;
    @include m.telefono {
      font-size: 3rem;
      line-height: 1.5;
    }
  }
}

.header__inicio {
  background-image: url("../img/header_inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70rem;
}

.header__nosotros {
  background-image: url("../img/header_nosotros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70rem;
}

.header__proceso {
  background-image: url("../img/header_proceso.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70rem;
}
