@use "../base/variables" as v;

.contenido__principal {
  background-color: v.$blanco;
  padding: 4rem;
  margin-top: -10rem;
  position: relative;
}

.contenido__principal__heading,
.contenido__principal__texto {
  text-align: center;
}

.contenido__principal__heading {
  text-transform: uppercase;
  color: v.$primario;
  font-size: 3.6rem;
  line-height: 1.8;

  span {
    color: v.$secundario;
    font-size: 2rem;
    display: block;
  }

  &::after {
    content: "";
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    background-image: url(../img/cafe.svg);
    background-size: 10rem;
  }
}
