@use "../base/variables" as v;
@use "../base/mixins" as m;

.footer {
  background-color: v.$primario;

  .footer__derechos {
    text-align: center;
    color: v.$blanco;
    margin-bottom: 0;
    padding: 2rem;
  }
}

.testimonio__informacion {
  background-color: v.$blanco;
  padding-top: 10rem;

  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;

  @include m.telefono {
    flex-direction: column;
  }

  .testimonio__heading {
    color: v.$secundario;
    text-transform: uppercase;
    font-family: v.$fuenteCursiva;
  }

  .testimonio__informacion-texto {
    margin-bottom: 2rem;
  }
}
