@use "../base/variables" as v;
@use "../base/mixins" as m;

.testimoniales {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 10rem 0;
  gap: 4rem;

  @include m.telefono {
    grid-template-columns: 1fr;
  }

  &__heading {
    text-align: left;

    &::after {
      content: "";
      width: 40%;
      height: 1rem;
      display: block;
      background-color: v.$primario;
      margin-top: -1rem;
    }
  }

  &__contenido {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
  }

  &__testimonial {
    background-color: v.$primario;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    border: 0.5rem solid;
    border-radius: 2rem;

    img {
      width: 5rem;
    }
  }
}
